.box{
		width: 30%;
		height: 200px;
		background-color: cyan;
		transition:all 1s;

	}
.box:hover{
		transform:rotate(-90deg);/*transform 可以实现旋转、缩放、移动transform:translate(120px,0);、倾斜skew(20deg)属性操作
		rotate：旋转属性、deg：旋转单位*/
		transform:skew(20deg);
		transform:translate(120px,0);
	}